#company-hero,
#food-hero {
  padding-block: 0.75rem;
  margin: 0 !important;
}

#banner {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

#company-info > div,
#food-info > div {
  box-sizing: border-box;
  padding-inline: 1rem;
  padding-top: 1rem;
  background-color: rgb(249, 251, 253);
  border: 0.8px solid rgb(215, 220, 225);
  border-radius: 8px;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  #banner-container {
    padding: 0 !important;
  }

  #company-hero,
  #food-hero {
    padding-top: 0rem;
    margin: 0 !important;
  }

  #banner {
    border-radius: 0;
  }

  #company-info {
    margin-top: 0.75rem;
    padding-inline: 18px !important;
  }
}

/* NAVIFATION SECTION */
#navigation {
  backdrop-filter: saturate(1.8) blur(16px);
  top: 0;
  z-index: 999;
  padding-top: 12px;
  padding-inline: 18px;
  position: sticky;
  background-color: rgba(255, 255, 255, 0.9);
}

#navigation > div {
  border-bottom: 0.8px solid rgb(229, 231, 235);
}

/* MENU SECTION */
#menu {
  padding-top: 24px;
  padding-inline: 18px;
  flex: 1;
}

.food-item {
  display: flex !important;
  height: 100%;
  overflow: hidden;
  border-bottom: 0.8px solid rgb(215, 220, 225);
  padding-block: 0.5rem 0.2rem;
  cursor: pointer;
}

.food-item img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

@media only screen and (max-width: 575px) {
  .food-item img {
    height: 80px;
    width: 80px;
  }
}

.food-item .food-main {
  flex: 1;
  padding-inline: 0.75em 0.5em;
}

.food-item .food-main .food-description {
  color: rgb(106, 111, 115);
}

@media only screen and (max-width: 575px) {
  .food-item .food-main .food-description {
    font-size: 13px;
  }
}

.food-item .food-price {
  padding-top: 0.25em;
  padding-right: 0.25em;
  font-weight: 600;
  font-size: 15px;
}

.seat-button {
  padding: 0.75em !important;
  height: auto !important;
  width: 60px !important;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(249, 251, 253);
  border: 0.8px solid rgb(215, 220, 225);
}

.cart-line {
  background-color: var(--primary-color);
  height: 100%;
  border-radius: 6px 30px 30px 6px;
  padding-inline: 1em 0.5em;
  cursor: pointer;
}

.cart-line > *:last-child {
  background-color: black;
  color: white;
  padding: 0.5em;
  border-radius: 50%;
}

.cart-price {
  font-size: 16px;
}

@media only screen and (max-width: 767px) {
  .seat-button {
    width: 45px !important;
  }

  .cart-price {
    font-size: 14px;
  }
}

.table-no {
  padding-inline: 0.75em;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.85);
}

.table-no * {
  color: rgba(255, 255, 255, 0.85);
  line-height: 1.25em;
}
